<div class="comments-row">
  <mat-form-field>
    <input type="text" matInput placeholder="Laissez un commentaire" [formControl]="commentCtrl">
  </mat-form-field>
  <div *ngIf="commentCtrl.invalid && commentCtrl.dirty" class="error-message">Le commentaire doit comporter au moins {{ minCommentLength }} caractères.</div>
  <button mat-icon-button color="primary" (click)="onLeaveComment()" [disabled]="commentCtrl.invalid || commentCtrl.value.length < minCommentLength">
    <mat-icon>send</mat-icon>
  </button>
</div>


<mat-list *ngIf="comments.length" @List>
    <h2 matSubheader>Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments; let i = index"
    [@listItem]="animationStates[i]"
    (mouseenter)="onListItemMouseEnter(i)"
    (mouseleave)="onListItemMouseLeave(i)">
      <div class="comment">
        <span class="comment-text" mat-line>{{ comment.comment }}</span>
        <span class="comment-date" mat-line>{{ comment.createDate | timeAgo}}</span>
      </div>
    </mat-list-item>
 </mat-list>
